<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>

    <div class="container">

        <% for( let i = 0; i < sozler.length; i++ ) { %>

            <form action="/kayitsil" method="post">
                <div class="alert alert-primary m-2">
                    <div class="row">
                        <div class="col-11">
                            <%= sozler[i].icerik %> 
                        </div>
        
                        <div class="col-1">
                            <button name="_id" value="<%= sozler[i]._id %>" type="submit" class="btn btn-danger">Sil</button>
                        </div>
                        <!-- <input type="text" name="_id" value="<%= sozler[i]._id %>"> -->
                    </div>  
                </div>
            </form>
        
        <% } %>

    </div>
    
</body>
</html>