body{
  background-color: #f1faee;
}

.navbar-brand{
  color: red !important;
  font-weight: bold;
  font-size: 1.8rem;
}

.populer-baslik{
  background-color: red;
  color: white;
}

.ekonomi{
  border-left: 7px red solid;
  padding: 0.8rem;
  font-size: 1.2rem;
}

/*@media(max-width: 576px){

}*/
