<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Gelişmiş Kişisel Sayfa</title>
  <!-- sayfaya ait icon buraya yazılır.
      icon eklenirken link tagı kullanılır -->
  <link rel="icon" href="/resimler/favicon.ico">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <!-- css klasörünün içindeki
       style.css'yi bağladık  -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  

  <span class="sabit">Sabit</span>

  <div class="container-fluid soldansagdan-padding">
    <div class="logo">M.Mustafa Odabasi</div>
    <div class="linkler">

        <% for(let i=0; i<sayfa.length; i++ ){ %>
            
            <a class="linkayir-cizgi" href="/kisiselsayfa/<%= sayfa[i].bolumAdi %>/<%= sayfa[i].index %>"><%= sayfa[i].bolumAdi %></a>    

        <% } %> 

    </div>
  </div>

  <div class="container">

    <div id="hakkimda" class="hakkimda">
      <table>
        <tr>
          <td><img class="profil-resmi" src="http://webdevexamples.herokuapp.com/odev-1/resimler/foto.png" alt=""></td>
          <td class="hakkimda-yazi">
            <h1>Hakkımda</h1>
            Merhaba, ben Hamza. Techproeducation'da instructor olarak çalışıyorum. Burası bizim derste kullandığımız örnek web sayfalarından birisi ve kurstaki 1. ödevimiz.Merhaba, ben Hamza. Techproeducation'da instructor olarak çalışıyorum. Burası
            bizim derste kullandığımız örnek web sayfalarından birisi ve kurstaki 1. ödevimiz.Merhaba, ben Hamza. Techproeducation'da instructor olarak çalışıyorum. Burası bizim derste kullandığımız örnek web sayfalarından birisi ve kurstaki 1.
            ödevimiz.Merhaba, ben Hamza. Techproeducation'da instructor olarak çalışıyorum. Burası bizim derste kullandığımız örnek web sayfalarından birisi ve kurstaki 1. ödevimiz.Merhaba, ben Hamza. Techproeducation'da instructor olarak
            çalışıyorum. Burası bizim derste kullandığımız örnek web sayfalarından birisi ve kurstaki 1. ödevimiz.Merhaba, ben Hamza. Techproeducation'da instructor olarak çalışıyorum. Burası bizim derste kullandığımız örnek web sayfalarından birisi
            ve kurstaki 1. ödevimiz.
          </td>
        </tr>
      </table>
    </div>

    <div id="hobilerim" class="hobilerim">
      <table>
        <tr>
          <td class="hobilerim-yazi">
            <h1>Hobilerim</h1>
            Buraya hobiler yazılabilir. İstediğimiz hobileri yazabilriiz.
            <br /> Hobilerim; hobiler yazılabilir. İstediğimiz hobileri yazabilriiz. hobiler yazılabilir. İstediğimiz hobileri yazabilriiz. hobiler yazılabilir. İstediğimiz hobileri yazabilriiz.<br />
            Buraya hobiler yazılabilir. İstediğimiz hobileri yazabilriiz.hobiler yazılabilir. İstediğimiz hobileri yazabilriiz.<br>
            Buraya hobiler yazılabilir. İstediğimiz hobileri yazabilriiz.hobiler yazılabilir. İstediğimiz hobileri yazabilriiz.Buraya hobiler yazılabilir. İstediğimiz hobileri yazabilriiz.hobiler yazılabilir. İstediğimiz hobileri yazabilriiz.Buraya
            hobiler yazılabilir. İstediğimiz hobileri yazabilriiz.hobiler yazılabilir. İstediğimiz hobileri yazabilriiz.Buraya hobiler yazılabilir. İstediğimiz hobileri yazabilriiz.hobiler yazılabilir. İstediğimiz hobileri yazabilriiz.
          </td>
          <td><img class="hobi-resmi" src="http://webdevexamples.herokuapp.com/odev-1/resimler/hobi.jpg" alt=""></td>
        </tr>
      </table>
    </div>

    <div id="bildigim-diller" class="bildigim-diller">
      <table>
        <tr>
          <td><img class="bildigim-diller-resmi" src="http://webdevexamples.herokuapp.com/odev-1/resimler/dil.png" alt=""></td>
          <td class="bildigim-diller-yazi">
            <h1>Bildiğim Diller</h1>
            Merhaba, ben Hamza. Techproeducation'da instructor olarak çalışıyorum. Burası bizim derste kullandığımız örnek web sayfalarından birisi ve kurstaki 1. ödevimiz.Merhaba, ben Hamza. Techproeducation'da instructor olarak çalışıyorum. Burası
            bizim derste kullandığımız örnek web sayfalarından birisi ve kurstaki 1. ödevimiz.Merhaba, ben Hamza. Techproeducation'da instructor olarak çalışıyorum. Burası bizim derste kullandığımız örnek web sayfalarından birisi ve kurstaki 1.
            ödevimiz.Merhaba, ben Hamza. Techproeducation'da instructor olarak çalışıyorum. Burası bizim derste kullandığımız örnek web sayfalarından birisi ve kurstaki 1. ödevimiz.Merhaba, ben Hamza. Techproeducation'da instructor olarak
            çalışıyorum. Burası bizim derste kullandığımız örnek web sayfalarından birisi ve kurstaki 1. ödevimiz.Merhaba, ben Hamza. Techproeducation'da instructor olarak çalışıyorum. Burası bizim derste kullandığımız örnek web sayfalarından birisi
            ve kurstaki 1. ödevimiz.
          </td>
        </tr>
      </table>
    </div>

  </div>

<a class="alt-link" href="#">
  <div class="ustegeridon">
    Sayfanin basina don
  </div>
  </a>

  <div class="container-alt footer-arkaplan">

        <div class="menu">
          <div class="baslik">Hizli linkler</div>
          <ul>
            <li><a href="#">Hakkimda</a> </li>
            <li><a href="#">Hobilerim</a> </li>
            <li><a href="#">Bana ulasin</a> </li>
            <li><a href="#">Site haritasi</a> </li>
            <li><a href="#">Google</a> </li>
          </ul>
        </div>

        <div class="menu">
          <div class="baslik">Sosyal Media</div>
          <ul>
            <li><a href="#">Hakkimda</a> </li>
            <li><a href="#">Hobilerim</a> </li>
            <li><a href="#">Bana ulasin</a> </li>
            <li><a href="#">Site haritasi</a> </li>
            <li><a href="#">Google</a> </li>
          </ul>
        </div>

        <div class="menu">
          <div class="baslik">Iletisim</div>
          <ul>
            <li><a href="#">Hakkimda</a> </li>
            <li><a href="#">Hobilerim</a> </li>
            <li><a href="#">Bana ulasin</a> </li>
            <li><a href="#">Site haritasi</a> </li>
            <li><a href="#">Google</a> </li>
          </ul>
        </div>

        <div class="menu">
          <div class="baslik">Sevdigim Siteler</div>
          <ul>
            <li><a href="#">Hakkimda</a> </li>
            <li><a href="#">Hobilerim</a> </li>
            <li><a href="#">Bana ulasin</a> </li>
            <li><a href="#">Site haritasi</a> </li>
            <li><a href="#">Google</a> </li>
          </ul>
        </div>

    </div>

</body>

</html>
