:root {
  --ana-renk : orange;
  --baslik-boyut : 1.8rem;
  --border-olcusu :  0.5rem;
}
body{
  background-color: #f1faee;
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 1)),
                    url("https://i.pinimg.com/originals/5c/57/a8/5c57a8967bbd906f6a047e4c01adcc2a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-dark .navbar-brand {
  /* var(--ana-renk) == orange */
  color : var(--ana-renk) !important;
  font-weight: bold;
  font-size: var(--baslik-boyut);
}
.populer-baslik {
  background-color: var(--ana-renk);
  color: white;
}
.ekonomi{
  border-left: 7px var(--ana-renk) solid;
  padding: 0.8rem;
  font-size:1.2rem;
}
/* var(--border-olcusu) == 0.5rem */
.card {
  border-radius: var(--border-olcusu);
}
.card-img-top{
  border-top-left-radius: var(--border-olcusu);
  border-top-right-radius: var(--border-olcusu);
}
