<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./style.css">
</head>
<body>

  <form id="myDIV" method="post" action="/ekle" class="header">
    <h2 style="margin:5px">My To Do List</h2>
    <input type="text" name="todo" id="myInput" placeholder="Title...">
    <button type="submit" class="addBtn">Add</button>
  </form>
  
  <ul id="myUL">

<% for( let i = 0; i < todoList.length; i++ ) { %>

  <li><%= todoList[i].todo_name %></li>

<% } %>
    
  </ul>

<script src="./app.js"></script>

</body>
</html>
