
.gear_vr{
  width: 100%;
  height: 28rem;
  background-color: blue;
  margin-top: 8.5rem;
  padding: 0;
}


/* middle-left */
.gear_link{
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: 3rem;
}
.gear_link .list-group-item{
  border: none;
  background-color: inherit;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.gear_link .head{
  font-size: 24px;
  color: #fff;
}

/* middle-centre */
.gear_img{
  height: 100%;
  width: 28rem;
  border-radius: 999px;
  background: linear-gradient(321.25deg, #DF387C -33.39%, #FF602C 103.69%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gear_img img{
 width: 33rem;;
 position: relative;
 z-index: 1;
}


/* middle-right */
.gear_info{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 3rem;
}

.gear_info h1{
  font-family: Montserrat;
  color: #fff;
  font-weight: 900;
  font-size: 120px;
  position: absolute;
  right: 3rem;
  top: 35%;
  z-index: 2;
}
.gear_info p{
  margin-top: 35%;
  font-family: Montserrat;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}
.gear_info a{
  background-color: #FF602C !important;
  border: none;
  width: 42%;
  font-family: Montserrat;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 999px;
}
